.header {
    width: 100%;
    height: 12%;
    border-bottom: 2px solid #EFF1F2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.center {
    display: flex;
    align-items: center;
}
.username {
    margin-left: 10px;
    font-family: '黑体';
}
.system-title {
    color: #FFC27A;
    font-size: 30px;
    font-weight: bold;
}
.menu-list {
    display: flex;
    color: #92969B;
}
.menu-list>div{
    font-family: '黑体';
    font-size: 15px;
    width: 70px;
    cursor: pointer;
}
.menu_item {
    color: #58C7A4;
}
.drop-item {
    font-family: '黑体';
}