.index {
    width: 100%;
    height: 100%;
}
.index-search {
    width: 100%;
    height: 65%;
    background-image: url('../../image/index/index_back.png');
    display: flex;
    align-items: center;
}
.index-search-content {
    width: 50%;
    height: 100%;
    font-family: '黑体';
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.index-image {
    width: 50%;
    text-align: center;
}
.index-search-image {
    width: 550px;
}
.content1 {
    font-size: 20px;
    color: #20B486;
    letter-spacing: 1px;
}
.content2 {
    font-size: 13px;
    color: #20B486;
    letter-spacing: 1px;
}
.content3,.content4 {
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 1px;
}
.content5,.content6 {
    margin-top: 10px;
    font-size: 15px;
    color: #92969B;
    letter-spacing: 1px;
}
.search-content {
    width: 70%;
}
.searchKey {
    margin-top: 10px;
}
.most-task {
    background-image: url('../../image/index/index_back.png');
    width: 100%;
    height: 55%;
    background-color: #F0FAF7;
    display: flex;
    justify-content: center;
}
.most-content {
    width: 70%;
    height: 100%;
}
.page-title {
    height: 20%;
    font-family: '黑体';
    margin-top: 20px;
    font-size: 22px;
}
.task-list {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.task-item {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 48%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.task-content {
    width: 40%;
    height: 100%;
    display: flex;
}
.task-name {
    font-weight: bold;
    width: 98%;
    height: 35%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    overflow: hidden;
    font-family: '黑体';
    font-size: 15px;
    margin-left: 30px;
}
.task-info {
    height: 65%;
    width: 96%;
    display: flex;
}
.task-desc {
    margin-left: 5px;
    font-size: 15px;
    font-family: '黑体';
    width: 45%;
    height: 75%;
    overflow: hidden;
    margin-left: 30px;
}
.task-image {
    border-radius:50%;
    width: 35%;
    height: 90%;
    margin-left: 30px;
    margin-top: -15px;
}
.task-btns {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.most-major {
    background-image: url('../../image/index/index_back.png');
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
}
.major-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 70%;
    flex-wrap: wrap;
}
.major-item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 23%;
    height: 13%;
    display: flex;
    border-radius: 10px;
    border: 2px solid #EFF1F2;
    align-items: center;
    justify-content: space-between;
}
.major-name {
    margin-left: 6px;
    display: flex;
    font-family: '黑体';
    font-size: 13px;
}
.most-teacher {
    width: 100%;
    height: 55%;
    background-color: #FFFAF5;
    display: flex;
    justify-content: center;
}
.teacher-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60%;
}
.teacher-item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 18%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #EFF1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: '黑体';
    letter-spacing: 1px;
    font-size: 13px;
}
.teacher-image {
    margin-top: 10px;
    width: 95%;
    height: 85%;
    border-radius: 5px;
    overflow: hidden;
}
.shuju {
    background-image: url('../../image/index/index_back.png');
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
}
.shuju-total {
    width: 100%;
    display: flex;
    height: 70%;
}
.shuju-content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.shuju-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
.shuju-item {
    width: 50%;
    display: flex;
}
.shuju-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: 15px;
    font-family: '黑体';
}
.most-note {
    background-image: url('../../image/index/index_back.png');
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
}
.note-list {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.note-item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 48%;
    height: 100%;
    border: 2px solid #EFF1F2;
    border-radius: 10px;
    position: relative;
}
.note-image {
    position: absolute;
    right: 20px;
    top: 20px;
}
.note-user {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.note-font {
    width: 90%;
    height: 50%;
    letter-spacing: 1px;
    padding-left: 30px;
    overflow: hidden;
    font-size: 13px;
    font-family: '黑体';
}
.note-username {
    margin-left: 20px;
    font-size: 15px;
    font-family: '黑体';
}
.note-avatar {
    width:50px;
    height:50px;
    border-radius: 50%;
    overflow: hidden;
}
.liuyan {
    width: 100;
    height: 60%;
    background-image: url('../../image/index/index-back1.png');
    display: flex;
    justify-content: center;
}
.liuyan-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.liuyan-font {
    display: flex;
    width: 100%;
    height: 100%;
}
.liuyan-content {
    display: flex;
    align-items: center;
    font-family: '黑体';
    font-size: 20px;
}
