.addArticle {
    width: 100%;
    height: 100%;
}
.addArticle-content {
    background: url('../../../assets/image/index/index_back.png');
    width: 100%;
    display: flex;
    justify-content: center;
}
.addArticle-form {
    width: 70%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* border: 2px solid #EFF1F2; */
    margin-top: 30px;
}
.addArticle-title {
    font-size: 25px;
    font-family: '黑体';
    margin-top: 30px;
}
.addArticle-list {
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid #EFF1F2;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.addArticle-item {
    margin-top: 10px;
    width: 98%;
    background-color: #FAFAFA;
    border-radius: 7px;
    font-family: '黑体';
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}