.articleInfo {
    width: 100%;
    height: 100%;
}
.articleInfo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: url('../../../assets/image/index/index_back.png');
    font-family: '黑体';
}
.articleInfo-title {
    width: 70%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.articleInfo-title1 {
    font-size: 20px;
    letter-spacing: 2px;
}
.articleInfo-title2 {
    font-size: 15px;
    margin-top: 5px;
    letter-spacing: 2px;
    color: #92969B;
}
.articleInfo-desc {
    margin-top: 10px;
    width: 70%;
    border: 2px solid #EFF1F2;
    min-height: 550px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articleInfo-desc1,.articleInfo-desc2 {
    margin-top: 20px;
    width: 90%;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
} 
.articleInfo-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}
.articleInfo-comment {
    width: 70%;
}
.articleInfo-comment-font {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.articleInfo-comment-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.articleInfo-comment-list {
    border: 2px solid #EFF1F2;
    border-radius: 7px;
}
.articleInfo-comment-item {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 95%;
    display: flex;
}
.articleInfo-comment-item1 {
    margin-left: 10px;
    font-size: 14px;
    font-family: '黑体';
    letter-spacing: 1px;
}
.articleInfo-comment-item2 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
    font-family: '黑体';
    letter-spacing: 1px;
    width: 75%;
    line-height: 20px;
    background-color: #F7F7FE;
    border-radius: 10px;
}
.articleInfo-comment-item3 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
    font-family: '黑体';
    letter-spacing: 1px;
    width: 100%;
    background-color: #4E5BE2;
    color: #ffffff;
    line-height: 20px;
    border-radius: 10px;
}
.articleInfo-comment-item-right {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 5%;
    width: 95%;
    display: flex;
    justify-content: flex-end;
}