.about {
    width: 100%;
    height: 100%;
}
.content {
    width: 100%;
    height: 88%;
    background-image: url('../../image/index/index_back.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content {
    width: 60%;
    height: 87%;
    border-radius: 10px;
    border: 2px solid #EFF1F2;
    display: flex;
}
.about-desc {
    width: 41%;
    height: 100%;
    font-size: 17px;
    font-family: '黑体';
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
